<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% if pageDescription is not empty %}
    <meta name="description" content="{{ pageDescription }}">
{% endif %}
<title>{% if pageTitle is empty %}Application Title{% else %}{{ pageTitle }} - Application Title{% endif %}</title>

<link rel="stylesheet" href="{{ assetManifestUrl('@_base', 'app.css') }}">
