{% extends '@auth/layouts/default.twig' %}

{% block content %}
    <div>
        <h1>Login</h1>
        <p>Hello my old friend.</p>
        <form action="/postImplicit?response_type={{ responseType }}&client_id={{ clientId }}&redirect_uri={{ redirectUri }}"
            class="app__forms"
            method="post"
        >
            <label>
                Email
                <input type="email" name="email" required>
            </label>

            <label>
                Password
                <input type="password" name="password" required>
            </label>

            <button class="app__button" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}
